* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #ul-nav {
    position: fixed;
    list-style-type: none;
    top: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(22, 33, 62, 0);
    z-index: 1; /* Set a higher z-index value for the navbar */
  }
  
  #nav {
    float: left;
  }
  
  #nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav a:hover:not(.active) {
    background-color: rgba(15, 52, 96, 0.6);;
  }

  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
  
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
  